/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 17, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
body {
  font-family: arial,sans-serif;
  margin-top: 75px;
  padding-bottom: 100px;
}

/* line 22, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #ddd;
  background-color: #eee;
  padding-top: 10px;
  z-index: 9999;
}

/* line 31, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.row {
  padding: 0;
  margin: 0;
}

/* line 35, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  border-top-radius: 2px;
  cursor: default;
  z-index: 9999;
}
/* line 44, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete li {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
/* line 48, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete li a, ul.ui-autocomplete li a:visited {
  color: #555;
  display: block;
  padding: 3px 10px;
}
/* line 53, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete li a.ui-state-hover, ul.ui-autocomplete li a.ui-state-active, ul.ui-autocomplete li a:hover {
  background-color: #f8f8f8;
  text-decoration: none;
  color: #000;
}

/* line 61, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 65, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
#wrapper {
  padding: 50px 0;
}

/* line 69, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

/* line 75, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.huge {
  font-size: 50px;
  line-height: normal;
}

@media (min-width: 768px) {
  /* line 81, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
  #wrapper {
    padding: 0 225px;
  }

  /* line 85, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
  #page-wrapper {
    padding: 10px;
  }
}
/* Top Navigation */
/* line 92, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.top-nav {
  padding: 0 15px;
}

/* line 96, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.top-nav > li {
  display: inline-block;
  float: left;
}

/* line 101, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

/* line 112, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #000;
  background-color: #eee;
}

/* line 117, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 129, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/* line 133, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 140, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 145, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 150, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
li.message-footer {
  margin: 5px 0;
}

/* line 154, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */
/* line 159, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.side-nav {
  border-right: solid 1px #ddd;
  margin-top: 50px;
  width: 100%;
  min-height: 700px;
  margin-left: 0;
  border-radius: 0;
  background-color: #fdfdfd;
  overflow-x: hidden;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  /* line 172, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
  .side-nav {
    position: fixed;
    margin-top: 0;
    top: 62px;
    width: 225px;
    min-height: 700px;
    border-radius: 0;
    overflow-y: auto;
    background-color: #fdfdfd;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  /* line 186, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
  .side-nav-left {
    left: 225px;
    margin-left: -225px;
    border-right: solid 1px #ddd;
  }
}
@media (min-width: 768px) {
  /* line 194, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
  .side-nav-right {
    right: 225px;
    margin-right: -225px;
    border-left: solid 1px #ddd;
  }
}
/* line 201, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.side-nav a {
  display: inline-block !important;
  padding: 3px !important;
  min-width: 100px !important;
}

/* line 206, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
.side-nav li {
  float: none !important;
  margin: 1px !important;
}

/* line 210, /mnt/01CE9FFA54ABF900/R/app/assets/stylesheets/application.css.scss */
a.gre {
  background-color: #eee;
}
