/*

 */
/* line 5, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
body {
  font-family: arial,sans-serif;
  margin-top: 90px;
  padding-bottom: 100px;
}

/* line 10, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #ddd;
  background-color: #eee;
  padding-top: 10px;
  z-index: 9999;
}

/* line 19, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.row {
  padding: 0;
  margin: 0;
}

/* line 23, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  z-index: 9999;
}
/* line 33, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete li {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
/* line 37, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete li a, ul.ui-autocomplete li a:visited {
  color: #555;
  display: block;
  padding: 3px 10px;
}
/* line 42, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul.ui-autocomplete li a.ui-state-hover, ul.ui-autocomplete li a.ui-state-active, ul.ui-autocomplete li a:hover {
  background-color: #f8f8f8;
  text-decoration: none;
  color: #000;
}

/* line 50, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 54, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
#wrapper {
  padding: 50px 0;
}

/* line 58, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

/* line 64, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.huge {
  font-size: 50px;
  line-height: normal;
}

@media (min-width: 768px) {
  /* line 70, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
  #wrapper {
    padding: 0 225px;
  }

  /* line 74, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
  #page-wrapper {
    padding: 10px;
  }
}
/* line 79, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.nav-navbar > .open > .dropdown-menu {
  float: left;
  position: absolute;
}

/* line 84, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 91, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 96, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 101, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
li.message-footer {
  margin: 5px 0;
}

/* line 105, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */
/* line 110, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.side-nav {
  margin: 85px 0;
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  /* line 117, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
  .side-nav {
    top: 95px;
    position: fixed;
    margin: 0;
    width: 225px;
    min-height: 600px;
    overflow-x: hidden;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  /* line 128, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
  .side-nav-left {
    left: 225px;
    margin-left: -225px;
  }
}
@media (min-width: 768px) {
  /* line 135, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
  .side-nav-right {
    right: 225px;
    margin-right: -225px;
  }
}
/* line 141, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.side-nav a {
  display: inline-block !important;
  padding: 3px !important;
  min-width: 100px !important;
}

/* line 146, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
.side-nav li {
  float: none !important;
  margin: 1px !important;
}

/* line 150, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
a.gre {
  background-color: #eee;
}

/* line 153, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
ul {
  style: none;
  padding-left: 0;
}

/* line 157, /mnt/D/R1_29sep/app/assets/stylesheets/application.css.scss */
li {
  style: none;
  padding-left: 4px;
}
