<%= render 'layouts/header' %>
<%= title 'About Us' %>
  <h1 style="color:#fff;">About Us</h1>
   <div class="row">
  <div class="col-md-3">
    </div>
  <div class="col-md-6 jumbotron">
    <p style="font-size:16px;">
    <b>Rationpaani</b> is a hybrid retail platform that is completely focused on ensuring that you can shop for your daily essentials like grocery &  many household items ,from the comfort of your homes or offices and have your orders delivered to you in a matter of hours, not days.</br>

The ease of shopping comes along with the ability to get the products at competitive costs. Shopping on <b>Rationpaani</b> makes shopping for essentials more engaging, entertaining, effortless, fun and stress-free.<br/>

<b>Rationpaani</b> are your trusted neighborhood retailers, who have serviced you for years. Now you can access the same retailers via their customized web-fronts of their stores.<br/>

<b>Rationpaani</b> is especially designed keeping in view the modern consumers and shoppers busy lifestyle; who are always short on time and high on stress. Shopping on <b>rationpaani</b> is non-intrusive yet social, effortless yet comprehensive and something that can be done at their convenience.<br/>

<b>Rationpaani</b> encourages consumers to share their opinions and experiences about the various products and brands listed on <b>rationpaani</b> with their friends and the larger shopper community on <b>Rationpaani</b>. At every step of the way, you will have choices not only of the products and brands, but also of the <b>Rationpaani</b> that you wish to engage with thereby ensuring a more in-control experience.<br/>

As a shopper you will find the experience effortless, convenient and cost-effective and it's all about shopping from comforts of his home or office, or by using any mobile device on the go. All purchases get delivered at home and all payments are made post delivery at your given location.You will connect with your wholesalers,new home-based manufacturers & third-party logistics media for your own delivery purposes here ,in <b>rationpaani</b> platform.<br/>

<b>Rationpaani</b> is a free to use service for both the consumers and partner retailers; therefore there is no escalation of cost of essentials when you use <b>Rationpaani</b>.<br/>

<b>Rationpaani</b> is in its BETA phase and there are sure to be a few glitches along the way, both online and on-ground. Please bear with us and help us make the platform perform to your needs. Your advice and suggestions will help us fine-tune this unique engagement platform.<br/>

<p style="text-align:center; font-size:22px;">If you wish to contact us, please do so from here.</p><br/>
<p style="text-align:center; font-size:22px;">Please mail us on:- <b><u><mark>support@rationpaani.in</mark></u></b></p><br/>
    </p>
  </div>
 <div class="col-md-3"></div>
  </div>

