<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" style="background-color:#ff2200;">
<div class="row">
<div class="col-lg-12"> <img src="data1.jpeg" alt="Smiley face" width="1320" height="500"><span style="position:relative;top:-55px;padding:2px 6px;border-radius:20px;box-shadow:0 0 25px 1px #000 inset;box-shadow:0 0 5px #000;text-shadow:0 0 5px #000;font-size:28px;color:#fff;font-weight:bold">Supply Chain Data Science Lab</span> </div>
</div>
<div class="row">
<div class="col-lg-2" style="background-color:#efefef;box-shadow: 10px 10px 5px #888888;">Inventory Decisions</div>
<div class="col-lg-5">
</div>
<div class="col-lg-5"><p style="font-family:din,Calibri,Cantarell,sans-serif;color:#fff;top:5px;">In inventory Decisions what are we trying to cover is - the decisions regarding how much to order,when to order to nullify the backorders and loose the goodwill of customers connected to the business down the supply chain and make win-win situation for all and create much efficient system and organisation intricately connected to each other through our media which bridges gaps between players lying in retail supply chain ,either in organised or unorganised one,plugging the gaps and making each and every one a better decision maker for their respective businesses better.We are incorporating the principles learned under operations management and imply them in our supply chain data science Lab to generate better decisions and recommendations for our linked customers.</p>
</div>
</div><hr>
<div class="row" style="background-color:#7323DC;">
 <div class="col-lg-5"><p style="font-family:din,Calibri,Cantarell,sans-serif;color:#fff;top:5px;">By location,we are covering where to locate the new manufacturing plant or where to store the finished product for better market proximity and overall financial decisions regarding from the carrying cost,transporting cost and other factors that influence the location decisions such as labour cost ,local government policies , climate , raw material availibility and others which will influence the decisions of selection location.Calculating many of possible location with their location cost-profit analysis with center of gravity model are the first steps which will be considered .Overall selection decisions will be finalised with when it calculated with transporting cost and its issues.</p>
  </div>
<div class="col-lg-5"></div>
   <div class="col-lg-2" style="background-color:#efefef;box-shadow: 10px 10px 5px #888888;">Location Decisions</div>
 </div><hr>
<div class="row">
 <div class="col-lg-2" style="background-color:#efefef;box-shadow: 10px 10px 5px #888888;">Transportation Decisions</div>
  <div class="col-lg-5">
   </div>
  <div class="col-lg-5"><p style="font-family:din,Calibri,Cantarell,sans-serif;color:#fff;top:5px;">Transporting decisions for inbound logistics to outbound logistics, it covers from calculating how to pack with all the relevant factors ,which route to took to minimize whole transporting cost and in affect it has to rhyme with warehouse/facility location to better adjudged the overall financial scenario concern with location and transportation.</p></div>
  </div>
</div>
</body>
</html>
